body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*container*/ 
#reviews {
    display: grid;
    grid-gap: 8px 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,150px);
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}
.section-a {
   grid-row: 2;
    background-color: black;
    grid-column: 1 / span3;
    font-size: 24px;
    color: orange;
}

/*section-f {
    grid-row: 2;
    background-color: black;
    grid-column: 1 / span3;
    font-size: 24px;
    color: orange;
}*/

/*review cards*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
}
/*review cards end*/

/*NavBar*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

   nav li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

   nav li a:hover {
            background-color: #111;
        }
        /*navbar end*/




/*background*/

body {
    
    background-image: url('../Images/BackGroundPic.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.jumbotron {
    background-color:black;
    padding-left:20px;
    padding-right:10px;
    padding-top:0;
    padding-bottom:0;
}

/*review cards*/
.cardOne {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardOne:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerOne {
    padding: 2px 16px;
}

.cardTwo{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardTwo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerTwo {
    padding: 2px 16px;
}
/*review card end*/