body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*container*/ 
#reviews {
    display: grid;
    grid-gap: 8px 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7,150px);
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
}

.section-a {
   grid-row: 2;
    background-color: black;
    grid-column: 1 / span3;
    font-size: 24px;
    color: orange;
}

/*section-f {
    grid-row: 2;
    background-color: black;
    grid-column: 1 / span3;
    font-size: 24px;
    color: orange;
}*/